[submodule "MuseV"]
	path = MuseV
	url = https://github.com/TMElyralab/MuseV.git

[submodule "ChatTTS"]
	path = ChatTTS
	url = https://github.com/2noise/ChatTTS.git
[submodule "CosyVoice"]
	path = CosyVoice
	url = https://github.com/FunAudioLLM/CosyVoice.git
