librosa==0.9.2
numba==0.56.4
pytorch-lightning
ffmpeg-python
onnxruntime
tqdm
funasr>=1.0.0
cn2an
pypinyin
pyopenjtalk
g2p_en
modelscope==1.10.0
sentencepiece
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment
